src/main/resources/xsd/AddPrintDeliveryWorkstationTerminalRq/BDMParts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant/XML Schema Refactoring (XSR) Module (http://www.paschidev.com)-->
<xsd:schema xmlns="http://schemas.td.com/dxm/bdm/api/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.td.com/dxm/bdm/api/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xmlns="">Generated from "AddPrintDeliveryWorkstationTerminalRq" under "docdelivery OCP 0.0.6"</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following direct automatic references:
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following indirect automatic references:
File set "API Baseline Fileset 1.9.23"/Release "API Baseline Releases 1.9.23"
</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="tCanonicalCode">
    <xsd:annotation>
      <xsd:documentation>
				Type of canonicalized code.
				A "canonicalized code" captures the standardized (canonical) representation of a code.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="tCode" />
  </xsd:simpleType>
  <xsd:simpleType name="tCanonicalWorkstationTypeCd">
    <xsd:restriction base="tCanonicalCode" />
  </xsd:simpleType>
  <xsd:simpleType name="tCode">
    <xsd:annotation>
      <xsd:documentation>A set of one or more symbols, letters, and/or numbers that represents a more meaningful and descriptive piece of business information (usually the title or description of some business object). Sometimes the meaning of a code is intuitively obvious by the code itself (at least to the Subject Matter Expert). A code usually represents a fairly static set of values (e.g. US State Codes). Recommended Classword Abbreviation: CD</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tIdentifier">
    <xsd:annotation>
      <xsd:documentation>Identifier Type. Identifiers in the DXM specification are of this data type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tIndicator">
    <xsd:annotation>
      <xsd:documentation>
				Type of Indicator.
				A boolean value.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="tInternetProtocolAddressNum">
    <xsd:annotation>
      <xsd:documentation>String representing the IPv4 or IPv6.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="tNumber">
      <xsd:maxLength value="25" />
      <xsd:pattern value="[0-9.]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tName">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tNumber">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tPortNum">
    <xsd:restriction base="tNumber" />
  </xsd:simpleType>
  <xsd:simpleType name="tWorkstationSerialNum">
    <xsd:restriction base="tNumber" />
  </xsd:simpleType>
  <xsd:simpleType name="tWorkstationTerminalNum">
    <xsd:restriction base="tNumber" />
  </xsd:simpleType>
</xsd:schema>