src/main/resources/xsd/RetrievePrintDeliveryPrinterListRs/MEXParts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant/XML Schema Refactoring (XSR) Module (http://www.paschidev.com)-->
<xsd:schema xmlns="http://schemas.td.com/dxm/mex/api/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.td.com/dxm/mex/api/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xmlns="">Generated from "RetrievePrintDeliveryPrinterListRs" under "docdelivery OCP 0.0.6"</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following direct automatic references:
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following indirect automatic references:
File set "API Baseline Fileset 1.9.23"/Release "API Baseline Releases 1.9.23"
</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="tAPIAdditionalStatusSeverity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Info">
        <xsd:annotation>
          <xsd:documentation>
						Information Only. The requested transaction was processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Warning">
        <xsd:annotation>
          <xsd:documentation>
						There was a problem with the request, but a valid response is still present. The requested transaction was processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Error">
        <xsd:annotation>
          <xsd:documentation>
						There was an error in the request severe enough that no response could be made. The requested transaction was not processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tAPIStatusSeverity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Warning">
        <xsd:annotation>
          <xsd:documentation>
						There was a problem with the request, but a valid response is still present. The requested transaction was processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Error">
        <xsd:annotation>
          <xsd:documentation>
						There was an error in the request severe enough that no response could be made. The requested transaction was not processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tHTTPStatusCode">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tServerStatusCode">
    <xsd:annotation>
      <xsd:documentation>Type used to define a Server Status Code.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="tStatusCode">
    <xsd:annotation>
      <xsd:documentation>Type used to define a Status Code.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="tStatusDesc">
    <xsd:annotation>
      <xsd:documentation>Type used to define a Status Description.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="TAbstractBusinessSvcBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract Business Service Base. The ultimate base class of all business service messages.</xsd:documentation>
      <xsd:appinfo>
        <xtm:closed xmlns:xtm="http://paschidev.com/schemas/metadata/xtm" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="TAbstractBusinessSvcRs" abstract="true">
    <xsd:annotation>
      <xsd:documentation>The base class of a modeled business service message representing the output generated by a service provider as result of the input provided by a service consumer.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="TAbstractBusinessSvcBase">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Status" type="TAPIStatus">
            <xsd:annotation>
              <xsd:documentation>Status. Represents the business processing result.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TAPIAdditionalStatus">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="StatusCode" type="tStatusCode">
        <xsd:annotation>
          <xsd:documentation>
						Response Status Code.
						Valid values depend on context. See specific API documentation site.
						Business logic may be written based on the values of this field.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ServerStatusCode" type="tServerStatusCode">
        <xsd:annotation>
          <xsd:documentation>
						Server Status Code.
						The value placed here is used to allow the client to display a status code to the user, or log appropriately for troubleshooting purposes.
						No business logic may be written based on the values of this field.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Severity" type="tAPIAdditionalStatusSeverity">
        <xsd:annotation>
          <xsd:documentation>
						API Status Severity Code.
						Valid values:
						Error – There was an error in the request severe enough that no response could be made. The requested transaction was not processed.
						Warning – There was a problem with the request, but a valid response is still present. The requested transaction was processed.
						Info – Information Only. The requested transaction was processed.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="StatusDesc" type="tStatusDesc">
        <xsd:annotation>
          <xsd:documentation>Status Description. Explanatory text associated with a status such as the response status code, the bank account status, stopped check status or other related object status.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TAPIStatus">
    <xsd:annotation>
      <xsd:documentation>
				API Status.
				Define the error reporting structure that may be returned by an API call.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ServerStatusCode" type="tHTTPStatusCode">
        <xsd:annotation>
          <xsd:documentation>
						HTTP Server Status Code.
						The value placed here is used to allow the client to display a status code to the user, or log appropriately for troubleshooting purposes.
						No business logic may be written based on the values of this field.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Severity" type="tAPIStatusSeverity">
        <xsd:annotation>
          <xsd:documentation>
						API Status Severity Code.
						Valid values:
						Error – There was an error in the request severe enough that no response could be made. The requested transaction was not processed.
						The associated HTTP status code is one of Client error (4xx) or Server error (5xx).
						Warning – There was a problem with the request, but a valid response is still present. The requested transaction was processed.
						The associated HTTP status code is one of Successful (2xx), except 200 (reserved for success, a case where an API Status is not returned).
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdditionalStatus" type="TAPIAdditionalStatus">
        <xsd:annotation>
          <xsd:documentation>
						API Additional Statuses.
						This aggregate may appear once for each additional status that the service intends to provide.
						For example, if both an account number and a date are invalid, an Additional Status' StatusCode
						may return a general data validation error, while additional statuses may provide two detailed errors,
						one for each edit.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>