src/main/resources/xsd/AddPrintDelivery/AddPrintDelivery.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant/XML Schema Refactoring (XSR) Module (http://www.paschidev.com)-->
<xsd:schema xmlns:mex="http://schemas.td.com/dxm/mex/api/v1" xmlns:bdm="http://schemas.td.com/dxm/bdm/api/v1" xmlns="http://schemas.td.com/dxm/api/enterpriseservices/informationmanagement/documentmanager/document/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.td.com/dxm/api/enterpriseservices/informationmanagement/documentmanager/document/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="BDMParts.xsd" namespace="http://schemas.td.com/dxm/bdm/api/v1" />
  <xsd:import schemaLocation="MEXParts.xsd" namespace="http://schemas.td.com/dxm/mex/api/v1" />
  <xsd:annotation>
    <xsd:documentation xmlns="">Generated from "AddPrintDeliveryRq" under "docdelivery OCP 0.0.6"</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following direct automatic references:
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following indirect automatic references:
File set "API Baseline Fileset 1.9.23"/Release "API Baseline Releases 1.9.23"
</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="tDOCAPIPDFFile">
    <xsd:restriction base="mex:tBinaryData" />
  </xsd:simpleType>
  <xsd:complexType name="TDOCDAPIPrintJob" final="#all" block="#all">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PrintJobName" type="bdm:tName">
        <xsd:annotation>
          <xsd:documentation>Name of the print Job.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrinterTrayCd" type="bdm:tCode">
        <xsd:annotation>
          <xsd:documentation>Whether a manual tray should feed the paper or an automatic tray.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PrintCopyCnt" type="bdm:tCount">
        <xsd:annotation>
          <xsd:documentation>Number of copies of the PDF print required.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PDFFile" type="tDOCAPIPDFFile">
        <xsd:annotation>
          <xsd:documentation>PDF file attachments, single or multiple</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TSvcAddPrintDeliveryRq" final="#all" block="#all">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="mex:TAbstractBusinessSvcRq">
        <xsd:sequence>
          <xsd:element name="PrinterName" type="bdm:tName">
            <xsd:annotation>
              <xsd:documentation>Name of printer, e.g. PrintToMe,Send To OneNote 2010,Microsoft XPS Document Writer,JetPCL Document Capture,Fax,275 Dundas.10th Floor - RICOH Aficio MP C4502 - (TD305304)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="InternetProtocolAddressNum" type="bdm:tInternetProtocolAddressNum">
            <xsd:annotation>
              <xsd:documentation>IP address of the requester workstation.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WorkstationSerialNum" type="bdm:tWorkstationSerialNum">
            <xsd:annotation>
              <xsd:documentation>Workstation Name.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="WorkstationTerminalNum" type="bdm:tWorkstationTerminalNum">
            <xsd:annotation>
              <xsd:documentation>Workstation Asset Tag.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="OriginatingPartyId" type="bdm:tAssociateId">
            <xsd:annotation>
              <xsd:documentation>ACF2 ID of the requester.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="PrintJob" type="TDOCDAPIPrintJob">
            <xsd:annotation>
              <xsd:documentation>Instruction of print job, could be different to each file content.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element block="#all" final="#all" name="SvcAddPrintDeliveryRq" type="TSvcAddPrintDeliveryRq" />
</xsd:schema>