src/main/resources/xsd/AddFTPDelivery/BDMParts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant/XML Schema Refactoring (XSR) Module (http://www.paschidev.com)-->
<xsd:schema xmlns="http://schemas.td.com/dxm/bdm/api/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.td.com/dxm/bdm/api/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xmlns="">Generated from "AddFTPDeliveryRq" under "docdelivery OCP 0.0.6"</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following direct automatic references:
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following indirect automatic references:
File set "API Baseline Fileset 1.9.23"/Release "API Baseline Releases 1.9.23"
</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="tAssociateId">
    <xsd:restriction base="tIdentifier" />
  </xsd:simpleType>
  <xsd:simpleType name="tBranchNum">
    <xsd:restriction base="tNumber" />
  </xsd:simpleType>
  <xsd:simpleType name="tDocumentId">
    <xsd:restriction base="tIdentifier" />
  </xsd:simpleType>
  <xsd:simpleType name="tIdentifier">
    <xsd:annotation>
      <xsd:documentation>Identifier Type. Identifiers in the DXM specification are of this data type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tName">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="tNumber">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>