src/main/resources/xsd/AddFTPDeliveryRq/MEXParts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--XML Schema generated by QTAssistant/XML Schema Refactoring (XSR) Module (http://www.paschidev.com)-->
<xsd:schema xmlns="http://schemas.td.com/dxm/mex/api/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.td.com/dxm/mex/api/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xmlns="">Generated from "AddFTPDeliveryRq" under "docdelivery OCP 0.0.6"</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following direct automatic references:
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
File set "docdelivery OCP 0.0.6"/Release "docdelivery 1.1.0"
</xsd:documentation>
    <xsd:documentation xmlns="">Generated from the following indirect automatic references:
File set "API Baseline Fileset 1.9.23"/Release "API Baseline Releases 1.9.23"
</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="tBinaryData">
    <xsd:annotation>
      <xsd:documentation>Type used to define self-describing binary data, transmitted using base64 encoding.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:base64Binary">
      <xsd:maxLength value="10485760" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TAbstractBusinessSvcBase" abstract="true">
    <xsd:annotation>
      <xsd:documentation>Abstract Business Service Base. The ultimate base class of all business service messages.</xsd:documentation>
      <xsd:appinfo>
        <xtm:closed xmlns:xtm="http://paschidev.com/schemas/metadata/xtm" />
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:complexType>
  <xsd:complexType name="TAbstractBusinessSvcRq" abstract="true">
    <xsd:annotation>
      <xsd:documentation>The base class of a modeled business service message representing the output generated by a service consumer as input needed by a service provider.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="TAbstractBusinessSvcBase" />
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>